.country-map {
    display:none
   }
   svg .county {
    fill:transparent;
    stroke:#adb5bd;
    cursor:pointer;
    -webkit-transition:fill 100ms ease-in-out 10ms, stroke 100ms ease-in-out;
    transition:fill 100ms ease-in-out 10ms, stroke 100ms ease-in-out
   }
   svg .county:hover,
   svg .highlight.county:hover {
    fill:#007bff;
    stroke:none
   }
   svg .active.county {
    fill:#dc3545;
    stroke:none
   }
   svg .highlight.county {
    fill:#ffc107
   }
   svg .region {
    fill:#dc3545
   }
   svg .capital {
    fill:#6c757d
   }
   @media (min-width: 768px) {
    .country-map {
     display:block
    }
   }
   