body {
  margin: 0;
  font-family: "Montserrat",sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #343a40;
  text-align: left;
  background-color: #f5f8fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
 text-transform:uppercase
}
.data-attribution {
 padding-left:.89rem;
 padding-right:.89rem
}
.data-attribution small {
 padding-top:.445rem;
 border-top:1px dashed #dee2e6
}
.error-wrapper {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 height:90vh
}
.error-content {
 width:100%;
 max-width:420px;
 padding:15px;
 margin:auto;
 color:#6c757d;
 font-weight:400
}
.error-content .icon svg {
 width:200px;
 fill:#adb5bd;
 margin-bottom:2rem
}
.error-content h1 {
 font-size:5rem
}
.error-content .sub-title {
 color:#ced4da
}
.error-content p {
 font-size:.85rem
}
.navbar-country .notificaton svg {
 width:18px;
 height:18px;
 fill:#dee2e6
}
.navbar-country a {
 position:relative
}
.navbar-country a .avatar {
 width:30px;
 height:30px;
 position:absolute;
 top:5px;
 border-radius:50%
}
.navbar-brand svg {
 height:20px
}
@media (max-width: 767.98px) {
 .navbar-country .navbar-toggler {
  -webkit-appearance:unset;
  border:0
 }
 .navbar-country a .avatar {
  width:40px;
  height:40px;
  position:relative;
  top:0
 }
}
.counter-wrapper {
 /* background:no-repeat center bottom/cover url(../img/Nairobi-City.jpg) #333; */
 margin-top:1rem
}
.counter-wrapper>.bg-wrapper {
 padding-top:1rem;
 padding-bottom:1rem;
 background-color:rgba(23,162,184,0.8)
}
.counter-wrapper .headline {
 padding-top:.8rem;
 font-weight:normal;
 font-size:1.4rem;
 text-transform:none
}
.counter-wrapper ul {
 margin-bottom:0;
 padding:0
}
.counter-wrapper li {
 display:inline-block;
 padding:.2rem;
 list-style-type:none;
 text-transform:uppercase
}
.counter-wrapper li span {
 display:block
}
.counter-wrapper li strong,
.counter-wrapper li b {
 font-size:.9rem
}
.counter-wrapper p {
 padding-top:.4rem;
 font-size:1.1rem
}
.bg-wrapper>.container {
 color:#fff;
 text-align:center
}
.bg-wrapper .icon svg {
 width:2.5rem
}
@media (min-width: 768px) {
 .counter-wrapper .headline {
  padding-top:.8rem;
  font-size:1.8rem
 }
 .counter-wrapper li {
  padding:1.2rem
 }
 .counter-wrapper li span {
  font-size:3.9rem
 }
 .counter-wrapper li strong,
 .counter-wrapper li b {
  font-size:1.35rem
 }
 .counter-wrapper p {
  font-size:1.25rem
 }
 .bg-wrapper .icon svg {
  width:3.75rem
 }
}
@media (min-width: 992px) {
 .counter-wrapper .headline {
  padding-top:1rem;
  font-size:1.95rem
 }
 .counter-wrapper li {
  padding:1.5rem
 }
 .counter-wrapper li span {
  font-size:4.5rem
 }
 .counter-wrapper li strong,
 .counter-wrapper li b {
  font-size:1.5rem
 }
 .counter-wrapper p {
  font-size:1.5rem
 }
 .bg-wrapper .icon svg {
  width:3.95rem
 }
}
.country-search {
 margin:0 0 10px
}
.country-search .counties-select {
 display:none
}
.country-search .counties-select .btn-outline-secondary {
 border-color:#ced4da
}
@media (max-width: 767.98px) {
 .country-search .counties-select {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
 }
}
.app-breadcrumb {
 display:none
}
.app-breadcrumb .breadcrumb {
 background-color:#fff
}
@media (min-width: 768px) {
 .app-breadcrumb {
  display:block
 }
}
.country-map {
 display:none
}
svg .county {
 fill:transparent;
 stroke:#adb5bd;
 cursor:pointer;
 -webkit-transition:fill 100ms ease-in-out 10ms, stroke 100ms ease-in-out;
 transition:fill 100ms ease-in-out 10ms, stroke 100ms ease-in-out
}
svg .county:hover,
svg .highlight.county:hover {
 fill:#007bff;
 stroke:none
}
svg .active.county {
 fill:#dc3545;
 stroke:none
}
svg .highlight.county {
 fill:#ffc107
}
svg .region {
 fill:#dc3545
}
svg .capital {
 fill:#6c757d
}
@media (min-width: 768px) {
 .country-map {
  display:block
 }
}
figure {
 color:#6c757d;
 fill:#6c757d
}
.figure-attribution,
.figure-description {
 text-align:center;
 font-size:.9em;
 text-transform:capitalize
}
.chart-text {
 -webkit-transform:translateY(0.25em);
 transform:translateY(0.25em)
}
.chart-text .icon {
 height:16px
}
.chart-number {
 font-size:0.8em;
 font-weight:700;
 line-height:1;
 text-anchor:middle;
 -webkit-transform:translateY(-0.1em);
 transform:translateY(-0.1em)
}
.chart-label {
 font-size:0.2em;
 text-transform:uppercase;
 text-anchor:middle;
 -webkit-transform:translateY(0.7em);
 transform:translateY(0.7em)
}
figure {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column
}
.figure-content,
.figure-key {
 -webkit-box-flex:1;
 -ms-flex:1;
 flex:1;
 -ms-flex-item-align:center;
 align-self:center
}
.figure-content svg {
 height:auto
}
.figure-key {
 min-width:calc(8 / 12)
}
.figure-key [class*="shape-"] {
 margin-right:6px
}
.figure-key-list {
 margin:0;
 padding:0;
 list-style:none;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:space-evenly;
 -ms-flex-pack:space-evenly;
 justify-content:space-evenly
}
.figure-key-list li {
 font-size:.78rem;
 text-transform:uppercase
}
.shape-circle {
 display:inline-block;
 vertical-align:middle;
 width:10px;
 height:10px;
 border-radius:50%
}
.shape-fuschia {
 background-color:#ce4b99
}
.shape-lemon-lime {
 background-color:#b1c94e
}
.shape-blue {
 background-color:#377bbc
}
.shape-orange {
 background-color:#f57c00
}
.sr-only {
 position:absolute;
 width:1px;
 height:1px;
 margin:-1px;
 padding:0;
 overflow:hidden;
 clip:rect(0, 0, 0, 0);
 border:0
}
@media (min-width: 768px) {
 .figure-artboard {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
 }
 .figure-artboard .figure-key-list {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  margin-left:10px
 }
 .figure-content {
  -webkit-box-flex:2;
  -ms-flex:2;
  flex:2
 }
}
@media (min-width: 992px) {
 .figure-attribution,
 .figure-description {
  text-align:left
 }
 .figure-key-list {
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between
 }
}
.loader-wrapper {
 background:#f8f9fa;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 position:absolute;
 top:0;
 left:0;
 height:100%;
 width:100%;
 z-index:1;
 opacity:0;
 pointer-events:none;
 -webkit-transition:opacity 300ms ease-in-out 100ms;
 transition:opacity 300ms ease-in-out 100ms
}
.loader-wrapper span {
 color:#adb5bd
}
.loader>div {
 width:8px;
 height:8px;
 border-radius:100%;
 margin:2px;
 -webkit-animation-fill-mode:both;
 animation-fill-mode:both;
 display:inline-block;
 -webkit-animation:gs-anim-bounce 1s 0s infinite ease-in-out;
 animation:gs-anim-bounce 1s 0s infinite ease-in-out
}
.loader>div:nth-child(1) {
 -webkit-animation-delay:.18s;
 animation-delay:.18s;
 background-color:#ce4b99
}
.loader>div:nth-child(2) {
 -webkit-animation-delay:.36s;
 animation-delay:.36s;
 background-color:#b1c94e
}
.loader>div:nth-child(3) {
 -webkit-animation-delay:.54s;
 animation-delay:.54s;
 background-color:#377bbc
}
.loader>div:nth-child(4) {
 -webkit-animation-delay:.72s;
 animation-delay:.72s;
 background-color:#f57c00
}
@-webkit-keyframes gs-anim-bounce {
 30% {
  -webkit-transform:translateY(-5px);
  transform:translateY(-5px)
 }
 0%,
 50%,
 100% {
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
}
@keyframes gs-anim-bounce {
 30% {
  -webkit-transform:translateY(-5px);
  transform:translateY(-5px)
 }
 0%,
 50%,
 100% {
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
}
.indicators.loaded section:nth-child(1) {
 -webkit-animation:sectionLoaded 300ms ease-in-out forwards;
 animation:sectionLoaded 300ms ease-in-out forwards
}
.indicators.loaded section:nth-child(2) {
 -webkit-animation:sectionLoaded 600ms ease-in-out forwards;
 animation:sectionLoaded 600ms ease-in-out forwards
}
.indicators.loaded section:nth-child(3) {
 -webkit-animation:sectionLoaded 900ms ease-in-out forwards;
 animation:sectionLoaded 900ms ease-in-out forwards
}
.indicators.loaded section:nth-child(4) {
 -webkit-animation:sectionLoaded 1200ms ease-in-out forwards;
 animation:sectionLoaded 1200ms ease-in-out forwards
}
.indicators.loaded section:nth-child(5) {
 -webkit-animation:sectionLoaded 1500ms ease-in-out forwards;
 animation:sectionLoaded 1500ms ease-in-out forwards
}
.indicators section {
 margin-bottom:30px;
 background-color:#fff;
 border:1px solid #e9ecef;
 border-radius:5px;
 padding-top:1rem;
 padding-bottom:1rem;
 opacity:0;
 position:relative
}
.indicators section.not-ready .loader-wrapper {
 opacity:1;
 pointer-events:auto
}
.indicators section.communication-access {
 padding-bottom:0
}
.indicators section:last-child {
 margin-bottom:0
}
@-webkit-keyframes sectionLoaded {
 0% {
  opacity:0
 }
 100% {
  opacity:1
 }
}
@keyframes sectionLoaded {
 0% {
  opacity:0
 }
 100% {
  opacity:1
 }
}
.metrics {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex
}
@media (max-width: 991.98px) {
 .metrics {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column
 }
}
.metric-links {
 list-style:none;
 margin:0;
 padding:0;
 text-align:center;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex
}
.metric-links li {
 -webkit-box-flex:1;
 -ms-flex:1;
 flex:1;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex
}
.metric-links a {
 -ms-flex-preferred-size:100%;
 flex-basis:100%
}
.metric-links a svg {
 width:100%
}
.census-overview .county {
 color:#6c757d;
 margin-bottom:0;
 font-size:.8rem
}
.census-overview .county .name {
 font-weight:bold
}
.census-overview .overview-content .population {
 font-weight:700;
 font-size:2.7rem
}
.census-overview .overview-content .stats {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex
}
.census-overview .overview-content .stats .area,
.census-overview .overview-content .stats .density {
 cursor:pointer
}
.census-overview .overview-content .stats>* {
 -webkit-box-flex:1;
 -ms-flex:1;
 flex:1
}
.census-overview .overview-content .stats .meta {
 display:block;
 color:#adb5bd
}
@media (min-width: 992px) {
 .census-overview .overview-content .stats .meta {
  display:inline-block
 }
}
.gender-age .description {
 text-align:center;
 padding-top:1rem;
 color:#6c757d
}
.genders {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-pack:distribute;
 justify-content:space-around;
 margin-top:1rem;
 margin-bottom:1rem
}
.genders svg {
 width:30px;
 height:50px
}
.genders .male,
.genders .female {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex
}
.genders .female svg {
 fill:#e83e8c
}
.genders .female .highlight {
 color:#e83e8c
}
.genders .male svg {
 fill:#17a2b8
}
.genders .male .highlight {
 color:#17a2b8
}
.genders .stat {
 line-height:1
}
.genders .stat .highlight {
 font-weight:700;
 font-size:2.2rem
}
.genders .stat .figure {
 font-size:0.85rem
}
.genders .stat .caption {
 display:block;
 color:#adb5bd;
 text-transform:capitalize
}
.genders .stat .caption .switch-lg {
 display:none
}
.age-groups-chart {
 padding-left:0.89rem;
 padding-right:0.89rem
}
.age-groups-chart .description {
 border-top:1px dashed #dee2e6
}
.age-groups-chart .keys {
 font-size:.7rem;
 text-transform:uppercase;
 -webkit-box-pack:space-evenly;
 -ms-flex-pack:space-evenly;
 justify-content:space-evenly;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex
}
.age-groups-chart .keys .key {
 height:100%;
 font-weight:500;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex
}
.age-groups-chart .keys .key .box {
 margin-right:.5rem;
 width:20px
}
.age-groups-chart .keys .key .portion {
 background-color:#28a745
}
.age-groups-chart .keys .key .entire {
 background-image:linear-gradient(45deg, #28a745 25%, transparent 25%, transparent 50%, #28a745 50%, #28a745 75%, transparent 75%, transparent);
 background-size:5px 5px
}
.ag-progress-title-container {
 margin-bottom:0.89rem
}
.ag-progress-title-container .title {
 margin-bottom:0;
 font-size:.8rem;
 font-weight:500;
 text-transform:capitalize
}
.ag-progress-title-container .title .range {
 color:#adb5bd
}
.ag-progress-title-container .progress-container {
 position:relative;
 -webkit-box-flex:1;
 -ms-flex:1 1 100%;
 flex:1 1 100%
}
.ag-progress-title-container .progress-container .age-range-lg {
 opacity:0;
 position:absolute;
 right:0;
 padding-right:7px;
 font-weight:700;
 pointer-events:none;
 -webkit-transform:translateX(3.125rem);
 transform:translateX(3.125rem);
 -webkit-transition:opacity 80ms cubic-bezier(0.68, -0.55, 0.27, 1.55),-webkit-transform 100ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
 transition:opacity 80ms cubic-bezier(0.68, -0.55, 0.27, 1.55),-webkit-transform 100ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
 transition:opacity 80ms cubic-bezier(0.68, -0.55, 0.27, 1.55),transform 100ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
 transition:opacity 80ms cubic-bezier(0.68, -0.55, 0.27, 1.55),transform 100ms cubic-bezier(0.68, -0.55, 0.27, 1.55),-webkit-transform 100ms cubic-bezier(0.68, -0.55, 0.27, 1.55)
}
.ag-progress-title-container .progress-container .progress {
 height:1.5rem;
 border-radius:0;
 width:100%;
 background-image:linear-gradient(45deg, #28a745 25%, transparent 25%, transparent 50%, #28a745 50%, #28a745 75%, transparent 75%, transparent);
 background-size:5px 5px;
 -webkit-transition:background-image 100ms ease-in-out;
 transition:background-image 100ms ease-in-out
}
@media (min-width: 768px) {
 .genders svg {
  width:50px;
  height:70px
 }
 .genders .stat .highlight {
  font-size:3.4rem
 }
 .genders .stat .figure {
  font-size:1rem
 }
}
@media (min-width: 992px) {
 .metrics>.description {
  display:none
 }
 .genders {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  border-right:1px dashed #dee2e6;
  padding-right:.8rem;
  margin:0
 }
 .genders svg {
  width:50px;
  height:80px
 }
 .genders .stat .highlight {
  font-size:3.7rem
 }
 .genders .stat .figure {
  font-size:1.1rem
 }
 .genders .stat .caption .switch-lg {
  display:inline-block
 }
 .age-groups-chart {
  -webkit-box-flex:2;
  -ms-flex:2;
  flex:2;
  padding-left:0
 }
 .age-groups-chart .description {
  border:none;
  padding-top:0;
  text-align:left;
  padding-left:.8rem
 }
 .age-groups-chart .keys {
  -webkit-box-pack:start;
  -ms-flex-pack:start;
  justify-content:flex-start
 }
 .age-groups-chart .keys .key {
  margin-left:.89rem
 }
 .ag-progress-title-container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap
 }
 .ag-progress-title-container .title {
  -webkit-box-flex:1;
  -ms-flex:1 1 100px;
  flex:1 1 100px;
  text-align:right
 }
 .ag-progress-title-container .title .range {
  display:none
 }
 .ag-progress-title-container .progress-container {
  margin-left:0.89rem
 }
 .ag-progress-title-container .progress-container:hover .age-range-lg {
  opacity:1;
  -webkit-transform:translateX(0);
  transform:translateX(0);
  cursor:pointer;
  pointer-events:auto
 }
 .ag-progress-title-container .progress-container:hover .progress {
  background-image:linear-gradient(45deg, rgba(40,167,69,0.4) 25%, transparent 25%, transparent 50%, rgba(40,167,69,0.4) 50%, rgba(40,167,69,0.4) 75%, transparent 75%, transparent)
 }
}
.communication-access {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 padding-bottom:0
}
.communication-access .metric-viewport {
 padding:0 .74rem;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column
}
.communication-access .metric-viewport .chart-copy {
 text-align:center
}
.communication-access .metric-viewport .chart-copy .title {
 margin-top:1rem;
 margin-bottom:1.5rem
}
.communication-access .metric-viewport .chart-copy p {
 font-size:.83rem;
 margin-bottom:1.5rem
}
.communication-access .metric-viewport .chart-pictorial {
 display:block;
 padding-top:.5rem
}
.communication-access .metric-links li:nth-child(1) a svg {
 fill:#adb5bd
}
.communication-access .metric-links li:nth-child(1) a:hover svg {
 fill:#0097e6;
 -webkit-transform:scale(1);
 transform:scale(1)
}
.communication-access .metric-links li:nth-child(1) a.active {
 background-color:#0097e6;
 cursor:pointer
}
.communication-access .metric-links li:nth-child(1) a.active svg {
 fill:#fff;
 -webkit-transform:scale(1);
 transform:scale(1)
}
.communication-access .metric-links li:nth-child(2) a svg {
 fill:#adb5bd
}
.communication-access .metric-links li:nth-child(2) a:hover svg {
 fill:#c23616;
 -webkit-transform:scale(1);
 transform:scale(1)
}
.communication-access .metric-links li:nth-child(2) a.active {
 background-color:#c23616;
 cursor:pointer
}
.communication-access .metric-links li:nth-child(2) a.active svg {
 fill:#fff;
 -webkit-transform:scale(1);
 transform:scale(1)
}
.communication-access .metric-links li:nth-child(3) a svg {
 fill:#adb5bd
}
.communication-access .metric-links li:nth-child(3) a:hover svg {
 fill:#8c7ae6;
 -webkit-transform:scale(1);
 transform:scale(1)
}
.communication-access .metric-links li:nth-child(3) a.active {
 background-color:#8c7ae6;
 cursor:pointer
}
.communication-access .metric-links li:nth-child(3) a.active svg {
 fill:#fff;
 -webkit-transform:scale(1);
 transform:scale(1)
}
.communication-access .metric-links li:nth-child(4) a svg {
 fill:#adb5bd
}
.communication-access .metric-links li:nth-child(4) a:hover svg {
 fill:#44bd32;
 -webkit-transform:scale(1);
 transform:scale(1)
}
.communication-access .metric-links li:nth-child(4) a.active {
 background-color:#44bd32;
 cursor:pointer
}
.communication-access .metric-links li:nth-child(4) a.active svg {
 fill:#fff;
 -webkit-transform:scale(1);
 transform:scale(1)
}
.communication-access .metric-links li:nth-child(5) a svg {
 fill:#adb5bd
}
.communication-access .metric-links li:nth-child(5) a:hover svg {
 fill:#40739e;
 -webkit-transform:scale(1);
 transform:scale(1)
}
.communication-access .metric-links li:nth-child(5) a.active {
 background-color:#40739e;
 cursor:pointer
}
.communication-access .metric-links li:nth-child(5) a.active svg {
 fill:#fff;
 -webkit-transform:scale(1);
 transform:scale(1)
}
.communication-access .metric-links a {
 padding:5px;
 -webkit-transition:background-color 80ms ease-in;
 transition:background-color 80ms ease-in
}
.communication-access .metric-links a svg {
 width:25px;
 height:25px;
 -webkit-transform:scale(0.85);
 transform:scale(0.85);
 -webkit-transition:fill 80ms ease-in,-webkit-transform 80ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
 transition:fill 80ms ease-in,-webkit-transform 80ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
 transition:fill 80ms ease-in,transform 80ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
 transition:fill 80ms ease-in,transform 80ms cubic-bezier(0.68, -0.55, 0.27, 1.55),-webkit-transform 80ms cubic-bezier(0.68, -0.55, 0.27, 1.55)
}
@media (min-width: 992px) {
 .communication-access .metric-viewport {
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row
 }
 .communication-access .metric-viewport .chart-copy {
  -webkit-box-ordinal-group:2;
  -ms-flex-order:1;
  order:1;
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1;
  text-align:left
 }
 .communication-access .metric-viewport .chart-pictorial {
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1
 }
 .communication-access .metric-links li {
  position:relative
 }
 .communication-access .metric-links li:after {
  content:'';
  border-style:solid;
  border-width:5px 5px 0 5px;
  border-color:#fff transparent transparent transparent;
  position:absolute;
  left:45%;
  top:0
 }
 .communication-access .metric-links a {
  padding-top:10px;
  padding-bottom:10px
 }
 .communication-access .metric-links a svg {
  width:30px;
  height:30px
 }
}
.energy-consumption {
 padding:0 !important;
 /* background:no-repeat center url("../img/Nairobi-City.jpg"); */
 background-size:cover;
 color:#fff
}
.energy-consumption .metrics {
 padding-top:1rem;
 padding-bottom:1rem;
 background-color:rgba(23,162,184,0.75)
}
.energy-consumption .metric:first-child {
 border-right:0;
 border-bottom:1px dashed #fff;
 padding-bottom:10px
}
.energy-consumption .metric:last-child {
 padding-top:10px
}
.energy-consumption .symbol svg {
 height:50px;
 fill:#fff
}
.energy-consumption .description .title {
 padding-top:10px;
 padding-bottom:6px
}
.energy-consumption .description .title .separator {
 visibility:hidden
}
.energy-consumption .description .title .active {
 font-weight:700;
 display:block
}
.energy-consumption .description .highlight {
 font-size:4rem;
 font-weight:700;
 line-height:1
}
.energy-consumption .description .copy {
 font-size:0.8rem;
 padding-left:.2rem;
 padding-right:.2rem
}
.energy-consumption .metric-links {
 -ms-flex-wrap:wrap;
 flex-wrap:wrap
}
.energy-consumption .metric-links li {
 -webkit-box-flex:1;
 -ms-flex:1 1 calc(25% - 4px);
 flex:1 1 calc(25% - 4px);
 margin:2px
}
.energy-consumption .metric-links a {
 padding-top:10px;
 padding-bottom:10px;
 background-color:rgba(255,255,255,0.3);
 border:1px solid #fff;
 -webkit-transition:background-color 80ms ease-in-out;
 transition:background-color 80ms ease-in-out
}
.energy-consumption .metric-links a svg {
 fill:#fff;
 height:18px;
 -webkit-transition:fill 80ms ease-in-out;
 transition:fill 80ms ease-in-out
}
.energy-consumption .metric-links a:hover,
.energy-consumption .metric-links a.active {
 background-color:#fff
}
.energy-consumption .metric-links a:hover svg,
.energy-consumption .metric-links a.active svg {
 fill:#17a2b8
}
@media (min-width: 576px) {
 .energy-consumption .description .title .separator {
  visibility:visible
 }
 .energy-consumption .description .title .active {
  display:unset
 }
}
@media (min-width: 768px) {
 .energy-consumption .metrics {
  padding-left:1rem;
  padding-right:1rem
 }
 .energy-consumption .description .highlight {
  font-size:4.5rem
 }
 .energy-consumption .description .copy {
  font-size:0.84rem;
  padding-left:.24rem;
  padding-right:.24rem
 }
}
@media (min-width: 992px) {
 .energy-consumption .metrics {
  padding:1rem .3rem
 }
 .energy-consumption .metric:first-child {
  border-bottom:0;
  border-right:1px dashed #fff;
  padding-bottom:0
 }
 .energy-consumption .metric:last-child {
  padding-top:0
 }
 .energy-consumption .description .highlight {
  font-size:4.8rem
 }
 .energy-consumption .description .copy {
  padding-left:.27rem;
  padding-right:.27rem
 }
}
.footer-logo {
 display:none
}
@media (min-width: 768px) {
 .footer-logo {
  display:block;
  text-align:right
 }
 .footer-logo svg {
  height:50px
 }
}
